@charset "utf-8";


/* CSS Document */
html{background:#3C0338;
	color: white;
}
.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.wrapper .search_box{
	width: 50px;
	background: #fff;
	border-radius: 5px;
	height: 65px;
	display: flex;
	padding: 10px;
	box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
	width: 150px;
	border-right: 2px solid #dde2f1;
	color: #9fa3b1;
	position: relative;cursor: pointer;

}

.wrapper .search_box .dropdown .default_option{
	text-transform: uppercase;
	padding: 13px 15px;
	font-size: 14px;
}
.wrapper .search_box .dropdown ul{
	position: absolute;
	top:70px;
	left: -10px;
	background: #fff;
	width: 150px;
	border-radius: 5px;
	padding: 20px;
	display: none;
	box-shadow: 8px 8px 6px -10px #b3c6ff;
	
}

.section {
	background-color:#3C0338;
	text-align: center;
	padding:2rem 0rem;
	color: white;
}
.about{
	float: left;
	width: 66.66%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}
.sidebar{
	float: left;
height: 100%;
	width: 30.66%;
	text-align: center;
	
}
.content{
	float: right;
	width: calc(66.66%-1rem);
	
	
}

footer a{
	color: white;
	font-size: 100%;

}


.contact{float:right;
width:33.33%;}

.clearfix:after,
.clearfix:before{
	content:" ";
	display: table;
	
}
.clearfix:after{
	clear:both;
}


.content .box{
	height: 200px;
	margin: 2.25rem;
width: calc(33.33%-1rem);
	float: right;
color: white;
}

footer{margin-top: 1rem;}


li{
	height: 30px;

	
}
.navbar{
	background: #6E6E6E;	
overflow: hidden;
position: sticky;
position: relative;
top: 0;
font-size: 20px;
color: black;
font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	
}
.me{
background: #636363;
	padding: 2rem;
	float: left;
}
a{color: black;
padding: 0.5rem;
text-decoration: none;}

.active{background: #5C0D65;
	padding: 2rem;
	float: left;
	
}
.c1.me{float:right;}
.navbar .me:hover {
background-color: #ddd;
color: black;
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#sideebar{
	float: left;
	width: 80.33%;
	height:100%;
	text-align: center;
	
	}
pre{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size:20px;
text-shadow:0px 5px 2px gray  ;}
.l{padding:0.5rem 0rem;
		background-image: linear-gradient(to right,gray,pink);	
  overflow: hidden;
position: -webkit-sticky;
top: 0;
font-size: 20px;
color:black;
	line-height: 30px;
border-style:solid;
}
.l:hover
{
	background-color: #ddd;
color: black;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	
	
	
}

h3{
	border: rgba(0,0,0,1.00);
	border-style: solid;
color: black;
	width: 300px;
	height: 50px;
	text-align:center;
	float:right;
	padding: 10px;
	font-size: 30px;
	background:linear-gradient(to right,gray,purple);
}

h2{
	
	direction: rtl;
color: black;
border-style: solid;
	margin-bottom: 0.5rem;
	text-align:center;
	float:right;
	padding: 50px;
	width:700px;
	font-size: 30px;
	background:linear-gradient(to right,gray,purple);
	
	
	
}
.active:hover{
	background-color: #ddd;
     color: black;
}



section{
	float: right;
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;	
	z-index: -10;
	
	
}
	
.icon-list{
	width: 100%;
	max-width: 50rem;
	padding:  0 1.5rem;
	display: flex;
	justify-content: space-between;
}	
.icon-item{
	list-style: none;
}	

.icon-link{
	display: inline-flex;
	font-size: 3rem;
	text-decoration: none;
	color: #535c68;
	width: 6rem;
	height: 6rem;
	transition: .5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
	
}

.icon-link:hover{
	color:#fff;
}

.icon-link i{margin:20px;}
.icon-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 6rem;
	height: 6rem;
	background: #000;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: 0.3s;
	
}


.icon-link:hover::before{
	transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before{
	background: #e4405f;
}

.icon-item:nth-child(2) a:hover:before{
	background: #3b5999;
}


.icon-item:nth-child(3) a:hover:before{
	background: #0C80A3 ;
}



.icon-item:nth-child(4) a:hover:before{
	background:#cd201f ;
}

.icon-item:nth-child(5) a:hover:before{
	background:#DA4648;
}
	
	
	
