@charset "utf-8";
/* CSS Document */
html{background:purple;}
header{
	background-color: purple;
	text-align:center;
	padding:2rem 0rem;
	color: white;
}

.section {
	background-color: purple;
	text-align: center;
	padding:2rem 0rem;
	color: white;
}
.about{
	float: left;
	width: 66.66%;
}
.sidebar{
	float: left;
height: 100%;
	width: 30.66%;
	text-align: center;
}
.content{
	float: right;
	width: calc(66.66%-1rem);
	
}


.contact{float:right;
width:33.33%;}

.clearfix:after,
.clearfix:before{
	content:" ";
	display: table;
	
}
.clearfix:after{
	clear:both;
}


.content .box{
	height: 200px;
	margin: 2.25rem;
width: calc(33.33%-1rem);
	float: right;

}

footer{margin-top: 1rem;}


li{
	height: 30px;

	
}
.navbar{
	background: #6E6E6E;	
overflow: hidden;
position: sticky;
position: -webkit-sticky;
top: 0;
font-size: 20px;
color: black;
	
}
.me{
background: #636363;
	padding: 2rem;
	float: left;
}
a{color: black;
padding: 0.5rem;
text-decoration: none;}

.active{background: #5C0D65;
	padding: 2rem;
	float: left;
	
}
.c1.me{float:right;}
.navbar .me:hover {
background-color: #ddd;
color: black;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#sideebar{
	float: left;
	width: 80.33%;
	height: auto;
	text-align: center;
	}


.active:hover{
	background-color: #ddd;
     color: black;
}









