@charset "utf-8";
/* CSS Document */
header{
	background-color: purple;
	text-align:center;
	padding:2rem 0rem;
	color: white;
}
.section {
	background-color: purple;
	text-align: center;
	padding:2rem 0rem;
	color: white;
}
.content{
	float: left;
	width: 66.66%;
}
